<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brodybits.TestApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova-sqlite-bootstrap-test</name>
    <description>
        Cordova sqlite bootstrap test app: template to demonstrate reproducible issues with Cordova sqlite plugin.
        (as at 2018-02-24, the workable phonegap-version is cli-6.3.0)
    </description>
    <author email="brodybits@litehelpers.net" href="https://github.com/brodybits">
        @brodybits (Christopher J. Brody aka Chris Brody)
    </author>
    <content src="index.html" />
    <preference name="phonegap-version" value="cli-6.3.0" />     
    <plugin name="cordova-plugin-dialogs"  />
<plugin name="cordova-sqlite-storage" version="1.2.1" />
</widget>
